@model DNT370_Assignments.Areas.User.Models.UserModel

@{
    ViewData["Title"] = "User-Login";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}



    <h2>User Login</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" asp-area="User" asp-controller="User" asp-action="Dashboard" class="btn btn-primary" />
                </div>
            </form>
         </div>
    </div>

