@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div>    
    <h3>Welcome @TempData.Peek("UserName")</h3>
    <h4>This is the Admin Dashboard</h4>
</div>
